rojo = #ED1C27
gris_clientes = #595959
body
	background #595959
	.container
		width 100vw
		padding-left 0px 
		padding-right 0px
		
		.ingreso
			width 100vw
			display none
			background #6D6E72
			color white
			font-family Roboto
			font-size 24px
			font-weight 400
			padding-left 1em
			padding-top 0.5em
			height 50vh
			background-image url('../img/bg_ingreso.jpg')
			border solid 0px black
			label
				font-size 14px
			select 
				background #CCC
				border solid 0px grey
				height 30px
				border-radius 0.4em
				width 250px
				font-size 10px
				vertical-align top
				option
					background gris_clientes
				
			input
				vertical-align top
				background gris_clientes
				border solid 0px grey
				height 30px
				border-radius 0.4em
				width 120px
				font-size 10px
				padding 0.5em
			strong
				font-weight 900
			.arriba
				width 100vw
				i
					font-size 28px
					padding 0.6em
					background rojo
					border-radius 50%
					vertical-align top
			.acceso
				display inline-block
				.documento
					display inline-block
				.usuario
					display inline-block
					margin-left 0.5em
				.clave
					margin-left 0.5em
					display none
				.fa-boton
					cursor pointer
					display inline-block
					vertical-align middle
					background rojo
					font-size 12px
					padding 0.6em
					margin-left 0.3em
					margin-bottom 0.2em
					border-radius 0.3em
					box-shadow 1px 1px #990066
				.recordar
					font-size 12px
					vertical-align bottom
					label
						display inline-block
						vertical-align top
						margin-top 5px
					input 
						width 15px
						display inline-block
						vertical-align top
						margin-top 0px
			.ayuda
				position absolute
				top 10vh
				left 50%
				display inline-block
				font-size 12px
				h5
					font-size 18px
				a
					color white
					line-height 20px
			.nuevaHerramienta
				width 200px
				position absolute
				top 10vh
				left 75%
				vertical-align top
				font-size 18px
				.fa-boton
					cursor pointer
					display inline-block
					vertical-align middle
					text-align center
					background rojo
					padding 0.6em
					border-radius 0.3em
					box-shadow 1px 1px #990066
				h5
					font-size 22px
.row
	margin-left 0px
	margin-right 0px


.x
	cursor pointer
	width 5px
	height 5px
	position absolute
	top 3%
	right 15%
	font-size 24px
	
.resto
	margin-top -0.2em
	border solid 0px black
	img
		border solid 0px black

.pregunta_1
	position absolute
	top 0px
	left 50%
	margin-top -0.1em
	
.candado_1
	position absolute
	top 0px
	right 15%
	margin-top -0.1em
	
	