@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-ThCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-ThCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-ThCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-ThCn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-ThCn.svg#HelveticaNeueLTStd-ThCn') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue LT Std';
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
    src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
        url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
        url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueLTStd-BdCn.svg#HelveticaNeueLTStd-BdCn') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

